body {
    margin: 0;
    text-align: center;
}

img {
    margin-top: 12px;
}

.fb {
    margin: 0;
    font-weight: normal;
    font-family: Arial;
    font-size: 23px;
}

.login-container {
    width: 385px;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.1);
    margin: 30px auto;
    border-radius: 10px;
    padding: 15px;
}

input {
    display: block;
    width: 92%;
    padding: 15px ;
    margin-top: 10px;
    outline: none;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 8px;
    font-size: 16px;
}

input:focus {
    border:1px solid #1877f2;
    
}

.btn-login {
    margin-top: 15px;
    width: 100%;
    border: none;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    background-color: #1877f2;
    color: white;
    padding: 13px 0;
    border-radius: 10px;
    cursor: pointer;
}

.forgotpass {
    display: block;
    margin: 17px 0;
    color: #1877f2;
    text-decoration: none;
    font-family: Arial;
    font-size: 14px;
}

.forgotpass:hover {
    text-decoration: underline;
}

hr{
    opacity: 0.3;
}

.btn-create {
    margin: 15px 0;
    border: none;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #42b72a;
    padding: 13px 0;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px;
}

.btn-create:hover {
    background-color: #2c9317;

}

.bottom-description {
    font-family: Arial;
    font-size: 14px;
}

.bottom-description a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.bottom-description a:hover {
    text-decoration: underline;
}